/VisualStudio2019/x64
/VisualStudio2019/.vs
/VisualStudio2019/TinySTG.vcxproj.user
/SDL2/VisualStudio2019/.vs
/SDL2/VisualStudio2019/x64
/SDL2/VisualStudio2019/TinySTG.vcxproj.user
/SDL/VisualStudio2019/x64
/SDL/VisualStudio2019/.vs
/SDL/VisualStudio2019/TinySTG.vcxproj.user
/SDL/VisualStudio2019/log.txt
SDL/VisualStudio2019/TinySTG/TinySTG.sav
SDL/VisualStudio2019/TinySTG/TinySTG.sav
